@media screen and (min-width: 1281px) {
   
   
.gl-header {
        padding: 0px max(0px, calc(50% - 720px));
    }



.gl-main {
        padding: 0px max(0px, calc(50% - 720px));
    }
    


.gl-footer {
        padding: 0px max(0px, calc(50% - 720px));
    }

}