
@media screen and (min-width: 0px) and (max-width: 499px) {
     
html {
    font-size: 12px;
}

.gl-header {
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
}

.content-dialog{
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.dialogMainContent > img{
    width: 18.25rem;
}


.gl-footer {
    margin-top: 10rem;
}


}