

.content-dialog {
    width: 42.5rem;
    height: 42.5rem;
    background-image: linear-gradient(to bottom left, rgb(0, 13, 56), rgb(141, 2, 255));
    border-radius: 10%;
    border: none        ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.content-dialog:open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.35);
}

.content-dialog > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;

    color: white;
}

.content-dialog > header > button {
    background-color: transparent;
    width: 3rem;
}


.closeDialog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: transparent;
    border-radius: 50%;
    width: 20px;
    padding: 0px;
    filter:brightness(0)invert(1);
}

#closed {
    width: 100%;   
}

.content-dialog > header > img {
    width: 3rem;
}

.content-dialog > footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    color: white;
}

.dialogMainContent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogMainContent > img{
    height: 18.75rem;
    padding: 0rem 1rem;

}

.dialogFooter > p{
    width: 3rem;
}

#switchleft{
    transform: rotate(-90deg);
}

#switchRight {
    transform: rotate(90deg);
}

.switch {
    z-index: 1;
    width: 2rem;
    
}

.switch-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-color: rgba(255, 0, 0, 0.404);
    cursor: pointer;
    border: transparent;
}

.switch-bg:hover {
    background-color: rgba(255, 0, 0, 0.658);
}